@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(27, 26, 26);
}

.music-player {
  width: 400px;
  background-color: #ffe0e5;
  text-align: center;
  padding: 25px 25px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .left-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  color: #f53192;
  border-radius: 50%;
  box-shadow: 0 5px rgba(255, 26, 26, 0.22);
}

nav .right-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #fff;
  color: #f53192;
  border-radius: 50%;
  box-shadow: 0 5px rgba(255, 26, 26, 0.22);
}


/* Hero section */
#music-img {
  width: 240px;
  height: 250px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

#music-title {
  font-size: 22px;
  font-weight: 5000;
  color: #3b3a3a;
  margin-top: 23px;
}

#music-artist {
  font-size: 13px;
  font-weight: 500;
  color: #333;
  margin-top: 10px;
}

.progress-timing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  font-size: 0.75rem;
}

/* Audio file */
#progress {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background-color: #f53192;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 0 30px 0; /*40px 0*/
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #f53192;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls div {
  width: 60px;
  height: 60px;
  margin: 20px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #f53192;
  box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 8px;
}

.controls div:nth-child(2) {
  transform: scale(1.3);
  background: #f53192;
  color: #fff;
}

#ctrIcon {
  margin-left: 3px;
}
